@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  color: #111D41;
  font-family: 'Space Grotesk';
}

.input{
   margin: 0 auto;
   border-radius: 8px;
   border: 1px solid #4D6ED1;
  box-shadow: 0 0 0 1pxg #4D6ED1;
  width: 50%;  
  padding: 0.5rem;
  font-size: 1.2rem;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  text-align: center;
}

.cover, .cover1 {
  padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom:10px;


}
.cover1{
 color: #000000;
 font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;

}



.main {
  margin: 0 auto;
  max-width: 550px;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px #111D41;
}

.card {
  border: 1px solid #111D41;
  border-radius: 8px;
  box-shadow: 0 2px 4px #111D41;
  padding: 1rem;
  background-color: #4D6ED1;
  margin-top:8px;
  color:  #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight:500;
  font-size:24px;
  line-height: 32px;
  font-style: normal;
}

.card-body {
  font-size: 16px;
  line-height: 1.5;
}

.result .copy {
  float: right;
  position: relative;
  top: 6px;
  right: 10px;
  color: #FFFFFF;
  display: none;
}

.result:hover .copy {
  display: inline-block;
}